<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnruffer.budgetr" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/currency_dollar_green"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AddExpenseActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".BudgetListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBudgetActivity"
            android:label="@string/title_activity_add_budget" >
        </activity>
        <activity
            android:name=".BudgetDetailsActivity"
            android:label="@string/title_activity_budget_details" >
        </activity>
    </application>

</manifest>
